<form [formGroup]="form">
  <div class="row">
    <h1 class="col-12">VENTAS</h1>

      <mat-form-field class="col-3">
        <input placeholder="NIT" type="text" matInput formControlName="nit" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.nit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <mat-form-field class="col-9">
      <input placeholder="Nombre" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="col-12">
      <input placeholder="Dirección" matInput formControlName="address">
    </mat-form-field>


  </div>
</form>
