<div class="container-fluid d-flex p-0">
  <div class="col-2 navigation">
    <h6>MENU</h6>
    <mat-list>
      <mat-list-item> Puestos </mat-list-item>
      <mat-list-item> Empleados </mat-list-item>
      <mat-list-item> Clientes </mat-list-item>
      <mat-list-item> Proveedores </mat-list-item>
      <mat-list-item> Marcas </mat-list-item>
      <mat-list-item> Productos </mat-list-item>
    </mat-list>

    <H6 class="mt-5">ACCIONES</H6>
    <mat-list>
      <mat-list-item> Compras </mat-list-item>
      <mat-list-item> Ventas </mat-list-item>
    </mat-list>
  </div>
  <div class="col-10 content pt-3 pb-3 ps-4 pe-4">
    <router-outlet></router-outlet>
  </div>
</div>
