<block-ui></block-ui>
<div class="container-fluid d-flex pe-0" [ngClass]="{'is-login': !isLogin}">
  <div class="col-2 navigation" *ngIf="isLogin">
    <div class="header-menu">
      <div class="initials">
        JL
      </div>
      <p class="user">Jose Lemus</p>
      <p class="rol">Administrador</p>
    </div>

    <div class="menu-list" data-simplebar="">
      <div *ngFor="let item of menu">
        <h6 class="mt-4" *ngIf="item.child.length > 0">{{item.title}}</h6>
        <mat-list *ngIf="item.child.length > 0">
          <mat-list-item *ngFor="let subItem of item.child"
                         [routerLink]="subItem.route ? subItem.route : null">
            {{subItem.title}}
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>
  <div [ngClass]="{'col-12 login-content': !isLogin, 'content col-10 pt-4 pb-3 ps-3 pe-4': isLogin}">
    <router-outlet></router-outlet>
  </div>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>
