.log-shopping-component {
  background-color: #fff;
  border-radius: 30px;
  padding: 2rem;

  .table-content {
    height: calc(100vh - (89px + 48px + 15px + 4rem + 4rem));

    .mat-table {
      .custom-status{
        width: 30px;
        height: 30px;
        border-radius: 100px;
      }

      width: 100%;

      .mat-row {
        &:hover {
          .view-detail {
            color: #4FC3F7;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
