.shopping-component {
  background-color: #fff;
  border-radius: 30px;
  padding: 2rem;

  .table-content {
    height: calc(100vh - (261px + 4rem + 36px + 1rem + 40px));

    table {
      width: 100%;

      .mat-column-actions {
        width: 100px;
      }
    }

    .mat-column {
      &-no {
        width: 100px;
      }

      &-value {
        width: 200px;
      }
    }
  }

  .btn-add {
    left: 3rem !important;
    bottom: 25px !important;
  }
}
